@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --body-bck:#DDD;
  --menu-bck:#FFF;
  --color-links:#000;
  --link-bck:#e72121;
  --link-select:#e72121af;
  --shadow-links:#1f030356;
  --links-subM:#c0c0c0;
  --color-basis:#1c1c1c;
  --color-Hover:#FFF;

}
/*LINK INSTANCE*/
.linkState{
  background: var(--link-select);

}
.linkState *{
  color: #FFF;
}
/*---------------------------*/
a{
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Poppins";
  list-style: none;
  color: var(--color-basis);
  scroll-behavior: smooth;
}

body{
  display: grid;
  grid-template-columns: 90px 1fr;
  min-height: 100vh;
  background: var(--body-bck);
  transition: .4s ease;
  overflow-x: hidden;
}

body.menuHover{
  grid-template-columns: 272px 1fr;
}

/*MENU DE EL SITIO WEB*/
/*header*/
.header{
  width: 95%; 
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  white-space: nowrap;
}
.text-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 10px;
}
.text-head1{
  font-weight:300;
  font-size: 15px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.text-head2{
  font-weight: 300;
  font-size: 20px;
}
.header .logoImg{
  object-fit: contain;
  z-index: 100;
  width: 70px;
}
/*links*/
.nav-list{
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
}

.nav-list .item-list{
  width: 100%;
}
.nav-list .item-list .link-sty{
  padding: 20px  10px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  border-radius: 10px;
  transition: .4s ease;
  box-shadow: 0 0 5px var(--shadow-links),
  inset  0 0 2px var(--shadow-links);
  z-index: 100;
  overflow: hidden;
}
.link-sty i{
  padding: 0 0 0 13px;
  font-size: 25px;
}
.link-sty div{
  padding: 0 0 0 35px;
}
.link-sty:hover{
  background: var(--link-bck);
  box-shadow: 0 0 0;
}
.link-sty:hover *{
  color: var(--color-Hover);

}
.cont-abs{
  opacity: 0;
  transition: .2s ease ;
}
/*Sub menu*/
.sub-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  overflow: hidden;
  height: 0;
  transition: .5s ease;
  interpolate-size: allow-keywords;
}
.sub-menu.open{
  height: auto;
  transition: .5s ease;

}

.items-shows {
  width: 95%;
  border-left: #000 2px solid;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sub-menu div li {
  transition: .3s ease-out;
  height: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sub-menu div li a{
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  transition: .2s ease-in;
}
.sub-menu div li a:hover{
  background: var(--links-subM);
}
/*------------------------------*/
.bi-chevron-right{  
  transform-origin: initial;
  transform: rotate(0deg);
  position: absolute;
  right: 10px;
}
.bi-chevron-right.down{
  transform: rotate(90deg);
}

/*contenedor*/
.nav-cont{
  background: var(--menu-bck);
  position: fixed;
  width: 75px;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 5px;
  border-radius: 10px 10px 0 0 ;
  overflow-x: hidden;
  user-select: none;
  transition: .4s ease;
  left: -100px;
  z-index: 100;
}
.nav-cont.open{
  width: 260px;
}
.nav-cont.open .cont-abs{
  opacity: 1;
}
.nav-cont::-webkit-scrollbar{
  display: none;
}


/*-----------------------------------------------------------*/
/*Contenido del index*/
.main{
  grid-column: 2/3;
  background: #e9e9e9;
  min-height: 100dvh;

  opacity: 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 2PX;
  grid-template-areas:
  "header header"
  "descript imagen"
  "sbT sbT"
  "content content"
  "foot foot"
  ;
  grid-template-rows: 90px 88vh 80px auto 100px;

  gap: 1rem;
}
.containsMain{
  position: relative;
  overflow: hidden;
}
.objectsAbs{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Titulo*/
.titleMain{
  grid-area: header;
}
.tittleText{
  position: absolute;
  background: #FFF;
  height: 90%;
  width: 80%;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
}
/*------------------------------*/
/*Descripcion*/
.descriptionWebApp{
  grid-area: descript;
}
.descApp{
  background: #FFF;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 6px;
  z-index: 1;
  left: -80%;
}
/*--------------------*/
/*Imagen*/
.imagenWeb {
  grid-area: imagen;
}
.imgwP{
  position: absolute;
  width: 95%;
  object-fit: contain;
  border-radius: 5px;
  background: #FFF;
  padding: 14px;
  border-radius: 10px;
  left: 150%;
}
.objectOpacity{
  opacity: 0;
}
/*Explicacion*/
.subtittle{
  grid-area: sbT;
  background-color: #DDD;
  border-radius: 10px;
}
.sbTh2{
  width: 100%;
  height: 100%;
  top: 50%;
  position: absolute;
  transform: translate(10px,-50%);
  display: flex;
  align-items: center;
}
.contentWepp{
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(auto-fit,
  minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 10px;
}
.contentWepp aside{
  width: 300px;
  background:#f81b1b;
  margin: auto;
  height: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 10px #000;
  transition: .4s ease-in-out;
}
.contentWepp aside:hover {
  box-shadow: 0 0px 10px #000;

}
.contentWepp aside P{
  font-size: 25px;
  font-weight: 500;
  color: #FFF;
  
}
.descSub{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  transition: 0.7s ease ;
  color: #FFF;
  opacity: 0;
  width: 90%;
  height: 80%;
}
.contentWepp aside::after{
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: #000000;
  border-radius: 10px 100% 30px 0 ;
  bottom: -10px;
  left: -10px;
  transition: all .5s ease;
}
.contentWepp aside::before{
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: hsl(32, 46%, 11%);
  border-radius: 0 15px 50px 100%;
  top: -10px;
  right:  -10px;
  transition: all .5s ease;

}
.contentWepp aside:hover::before,
.contentWepp aside:hover::after{
  width: 130%;
  height: 130%;
}
.contentWepp aside:hover .descSub {
  opacity: 1;
}

/*-----------------------------------------------------------*/
/* Footer Styles */
.footer{
  grid-area: foot;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}